#searchSection {
    text-align: center;
    margin-top: 50px;
    padding: 5px;
  }
  
  #searchSection h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #searchSection label {
    display: inline-block;
    margin-right: 9px;
  }
  
  #searchSection input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  #searchButton {
    padding: 8px 20px;
    margin-left: 4px;
    font-size: 16px;
    background-color: #343935;
    color: white;
    border: none;
    cursor: pointer;
  }
  