/* CSS styles for pagination container */
#paginationContainer {
  display: flex; /* Display the pagination links in a flex container */
  align-items: center; /* Center the pagination links vertically */
  margin-top: 10px; /* Adjust the margin as needed */
}

/* CSS styles for page links */
.page-links a {
  display: inline-block; /* Display the page links inline */
  margin: 0 5px; /* Add some spacing between the page links */
}

#searchSection {
    text-align: center;
    margin-top: 50px;
    padding: 5px;
  }
  
  #searchSection h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #searchSection label {
    display: inline-block;
    margin-right: 9px;
  }
  
  #searchSection input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  #searchButton {
    padding: 8px 20px;
    margin-left: 4px;
    font-size: 16px;
    background-color: #343935;
    color: white;
    border: none;
    cursor: pointer;
  }


  